@import url('https://fonts.googleapis.com/css2?familyPoppins:itl,wght@0,100;0,200;0');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:visible;
    overflow-x: hidden;
    /* overflow: hidden; */
    background: #11091f;
}

header {
    position: relative; /* Change position to fixed */
    width: 100%;
    height: 100vh;
    /* border: 1px solid #fff; */
    /* border-radius: 0px; */
    overflow: hidden;
    box-shadow: 0px 10px 25px -8px #000; 
}

header::before {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    z-index: -1;
}

header video {
    position: absolute;
    width: 100%;
    height: 190%;
    top: -47%;
    z-index: -1;
}

/* adjust size of nav bar */
header nav {
    width: 100%;
    height: 15%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

header nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .logo_ul img {
    width: 70px;
    border-radius: 50%;
    /* Make logo circular */
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul ul li {
    padding: 3px 15px;
}

header nav .logo_ul ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: .3s linear;
}

header nav .logo_ul ul li a:hover {
    color: #df5eff;
} 

/* adjust the size the user  */
header nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Increase the height */
}

/* adjust the size the user  */
header nav .search_user input {
    padding: 10px 40px;
    border-radius: 30px;
    /* border: 1px solid #6a3ce7; */
    outline: none;
    background: rgb(255, 255, 255, .3);
    color: #fff;
    margin-right: 20px;
}

header nav .search_user input::placeholder {
    color: #fff;
}

header nav .search_user img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

/* adjust the size the user  */
header nav .search_user .search {
    position: absolute;
    width: 320px;
    height: 220px;
    /* border: 1px solid #fff;  */
    right: 20px;
    top: 50px;
    z-index: 99999;
    overflow-y: auto;
}

header nav .search_user .search::-webkit-scrollbar {
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(255, 255, 255, .4);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
}

header nav .search_user .search:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* keep this css for overall search look */
header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    display: none; 
}

/* remove this specific css to make the search bar info visible */
/* header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
} */

header nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
}

header nav .search_user .search .card .cont {
    margin-left: 10px;
    color: #fff;
}

header nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

header nav .search_user .search .card .cont p {
    font-size: 10px;
    color: rgb(255, 255, 255, .8);
}

header nav .search_user .search .card .cont span {
    background: #4b2bc0;
    color: #fff;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 400;
}

header .content {
    position: relative;
    color: #fff;
    margin-top: 300px;
    padding-left: 50px;
    margin-bottom: 50px;
}

header .content h1 {
    font-size: 50px;
}

header .content p {
    font-size: 14px;
    width: 350px;
    word-break: break-all;
}

header .content .details {
    display: flex;
    align-items: center ;
    margin-top: 10px;
}

header .content .details h6 {
    color: rgb(255, 255, 255, .8);
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h5 {
    color: rgba(87, 50, 223);
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h4 {
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
}

header .content .details h3 span {
    background: rgb(195, 0, 255);
    color: #cecbcb;
    padding: 0px 5px;
    margin: 0px 5px 0px 5px;
    font-weight: 600;
    border-radius: 10px;
    width: 65px;
}

header .content .details h3 i{
    margin-right: 5px;
}

header .content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

header .content .btns a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #5b42f3, #a800eb);
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

/* ============================================================================= */
/* this section is for popular row in the header div */

/* ===================================================================================== */
/* this is the part of the code responsible for ht main page conatiner */
.popular section {
    position:absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: -280px;
    left: 0px;
    color: #fff;
    margin-top: 50px;
}

.recommended section 
{
    position:absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: -520px;
    left: 0px;
    color: #fff;
    margin-top: 50px;
}

.binge-watch section {
    position:absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: -770px;
    left: 0px;
    color: #fff;
    margin-top: 50px;
}

.latest-movie section {
    position:absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: -1020px;
    left: 0px;
    color: #fff;
    margin-top: 50px;
}

.latest-series section {
    position:absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: -1270px;
    left: 0px;
    color: #fff;
    margin-top: 50px;
}

.international section {
    position:absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: -1520px;
    left: 0px;
    color: #fff;
    margin-top: 50px;
}

.top-picks section {
    position:absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: -1770px;
    left: 0px;
    color: #fff;
    margin-top: 50px;
}

/* ===================================================================================== */
/* this section is the popular row in the decommended div */

.popular section .cards,
.recommended section .cards, 
.binge-watch section .cards,
.latest-movie section .cards,
.latest-series section .cards,
.international section .cards,
.top-picks section .cards{
    position: relative;
    width: 100%;
    height: 200px;
    /* border: 1px solid #fff; */
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* ToDo come fix the scrolling issue here => scant scroll with mouse */
.popular section .cards::-webkit-scrollbar, 
.recommended section .cards::-webkit-scrollbar, 
.binge-watch section .cards::-webkit-scrollbar,
.latest-movie section .cards::-webkit-scrollbar,
.latest-series section .cards::-webkit-scrollbar,
.international section .cards::-webkit-scrollbar,
.top-picks section .cards::-webkit-scrollbar{
    width: 3px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

.popular section .cards::-webkit-scrollbar-thumb,
.recommended section .cards::-webkit-scrollbar-thumb, 
.binge-watch section .cards::-webkit-scrollbar-thumb,
.latest-movie section .cards::-webkit-scrollbar-thumb,
.latest-series section .cards::-webkit-scrollbar-thumb,
.international section .cards::-webkit-scrollbar-thumb,
.top-picks section .cards::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgba(102, 82, 214, 0.103);
    border-radius: 5px;
    visibility: visible;
}

.popular section .cards .card, 
.recommended section .cards .card,
.binge-watch section .cards .card,
.latest-movie section .cards .card,
.latest-series section .cards .card,
.international section .cards .card,
.top-picks section .cards .card{
    position: relative;
    min-width: 130px;
    height: 180px;
    /* border: 1px solid #fff; */
    border-radius: 8px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
}

.popular section .cards .card .poster, 
.recommended section .cards .card .poster,
.binge-watch section .cards .card .poster,
.latest-movie section .cards .card .poster,
.latest-series section .cards .card .poster,
.international section .cards .card .poster,
.top-picks section .cards .card .poster{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}

.popular section .cards .card:hover,
.recommended section .cards .card:hover, 
.binge-watch section .cards .card:hover,
.latest-movie section .cards .card:hover,
.latest-series section .cards .card:hover,
.international section .cards .card:hover,
.top-picks section .cards .card:hover{
    min-width: 300px;
    overflow: hidden;
}

.popular section .cards .card .rest_card, 
.recommended section .cards .card .rest_card,
.binge-watch section .cards .card .rest_card,
.latest-movie section .cards .card .rest_card,
.latest-series section .cards .card .rest_card,
.international section .cards .card .rest_card,
.top-picks section .cards .card .rest_card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: .5s linear;
}

.popular section .cards .card .rest_card img,
.recommended section .cards .card .rest_card img, 
.binge-watch section .cards .card .rest_card img,
.latest-movie section .cards .card .rest_card img,
.latest-series section .cards .card .rest_card img,
.international section .cards .card .rest_card img,
.top-picks section .cards .card .rest_card img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
}

.popular section .cards .card .rest_card::after,
.recommended section .cards .card .rest_card::after, 
.binge-watch section .cards .card .rest_card::after,
.latest-movie section .cards .card .rest_card::after,
.latest-series section .cards .card .rest_card::after,
.international section .cards .card .rest_card::after,
.top-picks section .cards .card .rest_card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    left: 0;
    bottom: 0;
    z-index: -1;
}

.popular section .cards .card .rest_card .cont,
.recommended section .cards .card .rest_card .cont, 
.binge-watch section .cards .card .rest_card .cont,
.latest-movie section .cards .card .rest_card .cont,
.latest-series section .cards .card .rest_card .cont,
.international section .cards .card .rest_card .cont,
.top-picks section .cards .card .rest_card .cont {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: #fff;
    padding: 0px 20px;
}

.popular section .cards .card .rest_card .cont .sub, 
.recommended section .cards .card .rest_card .cont .sub,
.binge-watch section .cards .card .rest_card .cont .sub,
.latest-movie section .cards .card .rest_card .cont .sub,
.latest-series section .cards .card .rest_card .cont .sub,
.international section .cards .card .rest_card .cont .sub,
.top-picks section .cards .card .rest_card .cont .sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular section .cards .card .rest_card .cont .sub p,
.recommended section .cards .card .rest_card .cont .sub p, 
.binge-watch section .cards .card .rest_card .cont .sub p,
.latest-movie section .cards .card .rest_card .cont .sub p,
.latest-series section .cards .card .rest_card .cont .sub p,
.international section .cards .card .rest_card .cont .sub p,
.top-picks section .cards .card .rest_card .cont .sub p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(255, 255, 255, .7);
}

.popular section .cards .card .rest_card .cont .sub h3,
.recommended section .cards .card .rest_card .cont .sub h3, 
.binge-watch section .cards .card .rest_card .cont .sub h3,
.latest-movie section .cards .card .rest_card .cont .sub h3,
.latest-series section .cards .card .rest_card .cont .sub h3,
.international section .cards .card .rest_card .cont .sub h3,
.top-picks section .cards .card .rest_card .cont .sub h3 {
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.popular section .cards .card .rest_card .cont .sub h3 span, 
.recommended section .cards .card .rest_card .cont .sub h3 span,
.binge-watch section .cards .card .rest_card .cont .sub h3 span,
.latest-movie section .cards .card .rest_card .cont .sub h3 span,
.latest-series section .cards .card .rest_card .cont .sub h3 span,
.international section .cards .card .rest_card .cont .sub h3 span,
.top-picks section .cards .card .rest_card .cont .sub h3 span{
    background: rgb(0, 132, 255);
    color: #fff;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
    border-radius: 2px;
}

.popular section .cards .card .rest_card .cont .sub h3 i,
.recommended section .cards .card .rest_card .cont .sub h3 i, 
.binge-watch section .cards .card .rest_card .cont .sub h3 i,
.latest-movie section .cards .card .rest_card .cont .sub h3 i,
.latest-series section .cards .card .rest_card .cont .sub h3 i,
.international section .cards .card .rest_card .cont .sub h3 i,
.top-picks section .cards .card .rest_card .cont .sub h3 i{
    margin-right: 3px;
}

.popular section .cards .card:hover .rest_card, 
.recommended section .cards .card:hover .rest_card,
.binge-watch section .cards .card:hover .rest_card,
.latest-movie section .cards .card:hover .rest_card,
.latest-series section .cards .card:hover .rest_card,
.international section .cards .card:hover .rest_card,
.top-picks section .cards .card:hover .rest_card {
    opacity: 1;
}

/* ======================================================================== */
/* Style the notifications popup */
.notifications-popup {
    display: none;
    position: absolute;
    top: 60px; /* Adjusted for better alignment */
    right: 20px;
    background-color: #f9f9f986;
    min-width: 200px; /* Increased width for better spacing */
    box-shadow: 0px 8px 16px 0px rgba(150, 29, 29, 0.2);
    z-index: 9999999999999999999999;
    padding: 15px; /* Increased padding for better spacing */
    border-radius: 10px; /* Added border radius for rounded corners */
}

.notifications-popup img {
    width: 30px; /* Adjusted image size */
    border-radius: 50%;
    margin-right: 10px; /* Adjusted margin for better spacing */
}

.notifications-popup .toast {
    margin-bottom: 15px; /* Increased margin between notifications */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Column layout for the toast */
}

.notifications-popup .toast-header {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Space between the items */
    padding-bottom: 5px; /* Adjusted padding for better spacing */
    border-bottom: 1px solid #ccc; /* Optional: Add a bottom border for separation */
}

.notifications-popup .toast-body {
    margin-top: 10px; /* Add margin to separate from the header */
    padding: 10px 0; /* Adjust padding for better spacing */
}

.notifications-popup.show {
    display: block;
}

.me-auto {
    font-size: 20px;
    color: #261077;
}

.btn-close {
    background-color: transparent;
    border: none;
    cursor: pointer; /* Add cursor pointer */
    font-size: 16px; /* Adjust font size for the close button */
}

.fa-times {
    font-size: 20px;
    color: #000; /* Adjust color for better visibility */
}

/* ===================================================================== */
/* Style the user panel */
header .user-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 255, 255, .5);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 9999999999;
}

/* Show the user panel */
header .user-panel.show {
    right: 0;
}

/* Style user info */
header .user-info {
    padding: 20px;
    text-align: center;
}
 
header.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

header .user-info h3 {
    margin-bottom: 5px;
}

header .user-info p {
    color:  #11091f;
}

/* ===================================================================== */
/* Style user actions */
header .user-actions {
    padding: 20px;
}

header .user-actions button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #6a3ce7;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .user-actions button:hover {
    background-color: #4b2bc0;
}

/* ===================================================================== */
/* Style the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #11091f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #11091f;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ===================================================================== */
/* Popup styling */
.popup {
    display: none;
    position: fixed;
    z-index: 9999999999;
    padding: 50px;
    background: rgb(255, 255, 255, .8);
    border-radius: 10px;
    border: 5px solid #6a3ce7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup.show {
    display: block;
    width: 500px;
    height: 220px;
}

.password-popup, .username-popup {
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-header {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.popup-content {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

.popup-footer {
    text-align: right;
}

.popup-footer button {
    margin-left: 10px;
    color: #fff;
    background: #8f42f3;
    padding: 5px;
    /* border-radius: 5px; */
    border: none;
    width: 100px;
    height: 30px;
}

#new-password{
    border-radius: 10px;
    width: 165px;
    height: 20px;
    border: 2px solid #df5eff;
}

#new-username{
    border-radius: 10px;
    width: 165px;
    height: 20px;
    border: 2px solid #df5eff;
}
