/* css for the frequently asked questions */
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

/* Variables */
:root {
  --bg: #281549;
  --text: #7288a2;
  --white: #eceff5;
  --lightgray: #e5e5e5; 
  --blue: #df5eff;
}

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: var(--bg);
  color: var(--white);
  
  min-height: 100vh;
}

.scroll-content {
  width: 100%;
  height: auto;
  height: 60vh;
  overflow-y: visible;
  padding: 20px;
  background: url('/img/Background-dark.png');
  width: 100%;
  max-width: 100%;
}

scroll-content .container {
  border: 10px insert white;
  border-radius: 20px;
  border-color: white;
  padding: 2%;
  text-align: center;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

/*Info about the size and placing of the logo*/
#logo {
  width: 150px;
  height: 150px;
  /* Ensure logo is square */
  border-radius: 50%;
  /* Make logo circular */
}

nav {
  display: flex;
  /* Use flexbox to arrange buttons horizontally */
  justify-content: center;
  /* Center buttons horizontally */
  margin-top: 20px;
  /* Add margin for spacing */
}

a {
  text-decoration: none;
  color: #f4f5fa;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 15px;
}

.welcomeSaying {
  text-align: center;
  height: auto;
  font-size: medium;
  font-weight: lighter;
  color: white;
}

nav a:hover {
  background-color: #050720;
  color: white;
}

.active {
  background-color: #050720;
}

.main-info {
  display: flex;
  justify-content: space-between;
  /* Arrange containers with equal space between them */
}

.service-container {
  flex: 1;
  /* Make each container take equal space */
  background-color: #5b42f3;
  /* Add background color for visibility */
  padding: 20px;
  /* Add padding for content spacing */
  margin-right: 20px;
  /* Add margin between containers */
  border-radius: 10px;
  /* Add border radius for container styling */
  height: 500px;
  justify-content: center;
  margin-left: 2%;
}

.container2 {
  width: 100%;
  /* Adjust width as needed */
  text-align: center;
  margin-top: 50px;
  /* Adjust margin-top as needed */
  margin-bottom: 15px;
  /* Add margin-bottom for spacing */
  padding: 2%;
  background-color: #281549;
}

/* Accordion Styles */
.accordion .accordion-item {
  border-bottom: 1px solid var(--lightgray);
  margin-bottom: 20px;
  /* Add margin-bottom for spacing between accordion items */
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--blue);
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--blue);
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
}

/* Services Container */
.services-container {
  width: 100%;
  padding: 0;
  margin-left: 20px;
  justify-content: center;
}

/* footer video for page */
#myVideo{
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin-top: 100px;
  margin-left: 5px;
}

/* adjusting the images of the page */
.main-container{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
