@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
 
body {
    width: 100%;    
    height: 100vh; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
    overflow-x: hidden;
    background: #11091f;
}

header {
    position: absolute; /* Change position to fixed */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    width: 100%;
    height: 100vh;
    background-color: #000;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
}

header::after {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
}

header video {
    position: absolute;
    width: 110%;
    height: 190%;
    top: -47%;
    z-index: -1;
}

header nav {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

header nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .logo_ul img {
    width: 70px;
    border-radius: 50%;
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul ul li {
    padding: 3px 15px;
}

header nav .logo_ul ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: .3s linear;
}

header nav .logo_ul ul li a:hover {
    color: #df5eff;
} 

/* ================================================================== */
/* ================This is the css for how the search looks when looking for a movie================ */
/* adjust the size the user  */
header nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Increase the height */
}

/* adjust the size the user  */
header nav .search_user input {
    padding: 10px 40px;
    border-radius: 30px;
    border: 1px solid #6a3ce7;
    outline: none;
    background: rgb(255, 255, 255, .3);
    color: #fff;
    margin-right: 20px;
}

header nav .search_user input::placeholder {
    color: #fff;
}

header nav .search_user img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

/* adjust the size the user  */
header nav .search_user .search {
    position: absolute;
    width: 320px;
    height: 220px;
    /* border: 1px solid #fff; */
    right: 20px;
    top: 50px;
    z-index: 99999;
    overflow-y: auto;
}

header nav .search_user .search::-webkit-scrollbar {
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(255, 255, 255, .4);
    border-radius: 5px;
    visibility: hidden;
}

header nav .search_user .search:hover::-webkit-scrollbar {
    visibility: visible;
}

header nav .search_user .search:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* keep this css for overall search look */
header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    /* display: none; */
}
header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    /* display: none; */
}

/* remove this specific css to make the search bar info visible */
/* header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
} */

header nav .search_user .search .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
}

header nav .search_user .search .card .cont {
    margin-left: 10px;
    color: #fff;
}

header nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

header nav .search_user .search .card .cont p {
    font-size: 10px;
    color: rgb(255, 255, 255, .8);
}

header nav .search_user .search .card .cont span {
    background: #4b2bc0;
    color: #fff;
    padding: 0px 3px;
    margin: 0px 5px 0px 10px;
    font-weight: 400;
}

/* ================================================================== */
/* ================This is the css for the description over the video about the video================ */
header .content {
    position: relative;
    color: #fff;
    /* margin-top: 100px; */
    padding-left: 50px;
    margin-bottom: 50px;
    background: #00000000;
}

header .content h1 {
    font-size: 50px;
}

header .content p {
    font-size: 14px;
    width: 350px;
    word-break: break-all;
}

header .content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header .content .details h6 {
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h5 {
    color: rgba(87, 50, 223, 1);
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h4 {
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

header .content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
}

header .content .details h3 span {
    background: rgb(195, 0, 255);
    color: #cecbcb;
    padding: 0px 5px;
    margin: 0px 5px 0px 5px;
    font-weight: 600;
    border-radius: 10px;
    width: 65px;
}

header .content .details h3 i {
    margin-right: 5px;
}

header .content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

header .content .btns a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #5b42f3, #a800eb);
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

/* ================================================================== */
/* ================This is the css for how the cards are displayed and look/work================ */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 30px;
    background-color: black;
    overflow-y: visible;
    overflow-x: hidden;
}

.card {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    height: 350px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rest_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 17, 53, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .rest_card {
    opacity: 1;
    
}

.cont {
    font-size: 18px;
    text-align: center;
    color: white;
}

.cont h4 {
    margin: 0 0 10px 0;
    /* font-family: 'Poppins', sans-serif; */
}

.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sub p, .sub h3 {
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
}

.sub h3 {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.sub h3 span {
    margin-right: 5px;
}


/* ================================================================== */
/* ================This is the css for dropdown display and styling================ */
.dropdown {
    position: relative;
    margin: 20px 0;
    color: #ccc;
} 

.dropdown h1 {
    margin-bottom: 10px;
    color: #fff; /* Adjust color as needed */
}

.dropdown-item{
    color: #ccc;
}

.dropdown-item:hover {
    background-color: rgb(62, 22, 119); /* Adjust item hover background color */
}

/* this is what changed the layout  */
.dropdown:hover .dropdown-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background: #dfcfeecb; */
    background: none;
    border: none;
    padding: 10px 0px;
    width: 800px;
}

/* Optional: Customize the button */
.dropdown button {
    background-color: rgb(127, 71, 231);
    border: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 1px;
    font-size: 16px;
}

